@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6231 0.188 259.81);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.967 0.0029 264.54);
    --secondary-foreground: oklch(0.4461 0.0263 256.8);
    --muted: oklch(0.9846 0.0017 247.84);
    --muted-foreground: oklch(0.551 0.0234 264.36);
    --accent: oklch(0.9514 0.025 236.82);
    --accent-foreground: oklch(0.3791 0.1378 265.52);
    --destructive: oklch(0.6368 0.2078 25.33);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.53);
    --input: oklch(0.9276 0.0058 264.53);
    --ring: oklch(0.6231 0.188 259.81);
    --radius: 0.375rem;

    --font-sans: "Inter", sans-serif;
    --font-serif: "Source Serif 4", serif;
  }

  .dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6231 0.188 259.81);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.3791 0.1378 265.52);
    --accent-foreground: oklch(0.8823 0.0571 254.13);
    --destructive: oklch(0.6368 0.2078 25.33);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6231 0.188 259.81);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 